.main-shop-3col{
  padding-top: 100px;
}
.main-shop-3col .col-4{
  padding: 0px;
  margin-right: 12x;
  padding-left: 15px;
}

.sorting{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sort{
  display: flex;
  /* justify-content: space-between; */
  height: 20px;
  align-items: center;
}

.left-sort img:last-of-type{
  margin-left: 15px;
}

.left-sort div{
  margin-left: 35px;
}
.right-sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 200px;
  height: 50px;
  background-color: #f5f5f5;
}

.eliah-product{
  position: relative;
  background-color: rgb(242, 243, 245);
  /* position: absolute; */  
  width: 370px;
  height: 470px;
  /* z-index: 235;   */
  margin-top: 35px;
}

.eliah-product-info{
  width: 370px;
}

.product-states{
width: fit-content;
height: fit-content;
position: relative;
}


.no-paddings{
  padding: 0px;
}


.product-states1{

width: 50px;
height: 25px;
font-size: 13px;
font-family: "Spartan";
color: rgb(255, 255, 255);
text-transform: uppercase;
line-height: 1.538;
/* text-align: left;
 */
 display: flex;
 justify-content: center;
 align-items: center;
border-radius: 3px;
position: absolute;
background-color: rgb(222, 19, 57);
/* margin-top: 10px; */
top:10px;
left: 10px;
/* margin-left: 10px; */
/* position: absolute; */
}
.product-states2{
width: fit-content;
height: fit-content;
position: relative;
}


.product-states3{

width: 50px;
height: 25px;
font-size: 13px;
font-family: "Spartan";
color: rgb(255, 255, 255);
text-transform: uppercase;
line-height: 1.538;
/* text-align: left;
 */
 display: flex;
 justify-content: center;
 align-items: center;
border-radius: 3px;
position: absolute;
background-color: #1a7be9;
/* margin-top: 10px; */
top:10px;
left: 10px;
/* margin-left: 10px; */
/* position: absolute; */
}

.product-states::after{
content: " ";
position: absolute;
bottom: -45px;
left: 29.9px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid transparent;
border-top: 5px solid rgb(222, 19, 57);

}


.product-states2::after{
content: " ";
position: absolute;
bottom: -45px;
left: 29.9px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid transparent;
border-top: 5px solid #1a7be9;

}


.product-hover{
width: 100%;
height: 90px;
background-color: #fcfdfd;
/* display: none; */
/* visibility: hidden; */
opacity: 0%;
position: absolute;
bottom: 0px;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-left: 30px;
padding-right: 30px;

}

.product-hover:hover{
/* display: block; */
/* visibility: visible; */
opacity: 90%;
}

.product-choice{
width: 50px;
height: 50px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #e2e2e2;
position: relative;
}



.product-choice:hover{
background-color: #f26460;
cursor: pointer;
}

.product-hover .product-choice:first-child:hover .choice-hover, .product-hover .product-choice:first-child:hover .ribbon-hover-choice{
display: flex;
}

.choice-hover{
width: 100px;
height: 25px;
background-color: #111111;
color: white;
font-size: 13px;
font-family: "Spartan";
color: rgb(242, 243, 245);
line-height: 2.769;
position: absolute;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
top: -39px;
display: none;
}

.ribbon-hover-choice{
display: none;
content: " ";
position: absolute;
bottom: 53px;
left: 20px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid transparent;
border-top: 5px solid #111111;
}


.type-star{
padding-top: 20px;
width: 100%;
display: flex;
justify-content: space-between;
}

.type-star span{
font-weight: 500;
font-family: var(--Spartan);
font-size: 13px;
color: #888888;
line-height: 24px;
}

.product-name{
color: #111111;
font-weight: 500;
font-family: var(--Spartan);
font-size: 16px;
/* color: #888888; */
line-height: 24px;
}
.product-name:hover
{
cursor: pointer;
}
.product-price{
display: flex;
width: 100%;
justify-content: space-between;
color: #111111;
font-weight: 600;
font-family: var(--Spartan);
font-size: 13px;
/* color: #888888; */
line-height: 30px;
}
.product-price span:last-child{
color: #888888;
font-weight: 500;
text-decoration: line-through;
padding-left: 10px;
}
.product-color{
display: flex;
width: 40px;
justify-content: space-between;
align-items: center;
/* padding-left: 20px; */
/* padding-left: ; */
}

.list-color{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.list-color .cover-color{
position: absolute;
width: 16px;
height: 16px;
border: 1px solid #653728;
border-radius: 100%;
display: none;
}

.list-color .main-color{
position: absolute;
width: 12px;
height: 12px;
background-color: #653728;
border-radius: 100%;
}


.list-color1{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.list-color1 .cover-color{
position: absolute;
width: 16px;
height: 16px;
border: 1px solid #dba07a;
border-radius: 100%;
}

.list-color1 .main-color{
position: absolute;
width: 12px;
height: 12px;
background-color: #dba07a;
border-radius: 100%;
left: -6px
}


.list-color2{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.list-color2 .cover-color{
position: absolute;
width: 16px;
height: 16px;
border: 1px solid #dab8b2;
border-radius: 100%;
display: none;
}

.list-color2 .main-color{
position: absolute;
width: 12px;
height: 12px;
background-color: #dab8b2;
border-radius: 100%;
}


.list-color, .list-color1, .list-color2{
width: fit-content;
height: fit-content;
}

.list-color:hover, .list-color1:hover, .list-color2:hover
{
cursor: pointer;
}